<footer id="footer">
    <div class="container-fluid">
        <div class="row eq-col-row">
            <div class="col-xs-12 col-md-8 text-center pull-right" style="left:-9rem;">
                <a href="/"><img id="footer-logo" src="assets/images/vision-logo-footer.png" alt="_logo" ></a>
            </div>
            <div class="col-xs-12 col-md-2 pull-left">
                <div id="footer-social-container">
                    <a href="https://facebook.com" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="https://instagram.com" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="col-xs-12 col-md-2 text-right hidden-xs hidden-sm">
                <a href="#main-menu" id="back-to-top">
                    <div class="dt w-full h-full">
                        <div class="dtc va-m">
                            <i class="fas fa-chevron-up"></i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div id="copyright">
        <div>© <script>document.write(new Date().getFullYear())</script> Copyright: <em><a href="https://portfolio-rho-ten-54.vercel.app/">Leo Pasquale</a></em></div>
    </div>
</footer>
