<header id="header" class="bg-dark-blue">
        <div id="logo">
            <a href="/"><img width="150" src="assets/images/vision-logo.png" alt=""></a>
        </div>
        <nav id="main-menu">

            <div class="dt w-full h-full">
                <div class="dtc va-m">
                    <ul>
                        <li>
                            <div class="dt w-full h-full">
                                <div class="dtc va-m">
                                    <a href="/">
                                        Home
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dt w-full h-full">
                                <div class="dtc va-m">
                                    <div class="menu-separator"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dt w-full h-full">
                                <div class="dtc va-m">
                                    <a href="">
                                        prenotazione
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dt w-full h-full">
                                <div class="dtc va-m">
                                    <div class="menu-separator"></div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dt w-full h-full">
                                <div class="dtc va-m">
                                    <a href="">
                                        CONTATTI
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
        </nav>
        
    </header>




